h1{
    color: rgb(174, 0, 255);
    font-size: 50px;
    display: flex;
    justify-content: center;
}
td{
    width:  250px;
    height: 300px;
    background-image: url("fond.jpg");
    opacity: 0.8;
}
.content{
    font-weight: bold;
    font-size: 20px;
}
.myTable{
    display: flex;
    justify-content: center;
}

tbody {
    background-color: rgb(255, 255, 255);
    padding: 7px;

}
body{
    background-color: black;
}